

@page "/Timetable"
@using Rozklad.Blazor.Client.Shared.Components
@using Rozklad.Repository.Dto.TimetableDto
@using Rozklad.Repository.Repositories
@using RozkladClient.Infrastructure
@using Rozklad.Infrastructure

@inject HttpTimetableService TimetableService
@*inject TimetableRepository TimetableRepos*@
@inject NavigationManager Navigation
<h4>Розклад</h4>

<hr />
@if(Timetables is not null && Timetables.Any())
{
    <div class="row">
        @foreach (var t in Timetables)
        {
            <div class="col-sm-15 col-xl-8">
                <TimetableGrid TimetableRead ="t"></TimetableGrid>
            </div>
        }
    </div>
}
    
else if(Timetables is not null)
{
    <SfMessage Severity="MessageSeverity.Warning">Інформація про запити відсутня...</SfMessage>

} else
{
    <SpinnerComponent></SpinnerComponent>
}

@code {

    
    //public TimetableReadDto? TimetableRead { get; set; }
    private IEnumerable<TimetableReadDto> Timetables = null;

    protected override async Task OnInitializedAsync()
    {
        Timetables = await TimetableService.GetTimetablesAsync();        
    }

    void GoToNewRequestPage()
    {
        Navigation.NavigateTo("/timetable");
    }

    void GoToDetailsPage()
    {
        //Navigation.NavigateTo($"/timetables/{TimetableRead.TimetableId}");
    }

    void GoToEditPage()
    {
       // Navigation.NavigateTo($"/timetables/edit/{TimetableRead.TimetableId}");
    }
}
